@model IEnumerable<RomanNumeralGenerator.LogHistory>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Roman numeral converter log history</h2>
        </div>
    </div>
    <br/>
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
        <tr>
            <th>
                Input
            </th>
            <th>
                Output
            </th>
            <th>
                Time
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td width="33%">
                    @log.Input
                </td>
                <td width="33%">
                    @log.Output
                </td>
                <td width="33%">
                    @log.Time
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>