@model RomanNumeralGenerator.LogHistory
@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Convert</h2>
            <hr />
            <p class="text-secondary">Enter number from 1 to 3999 to convert it into roman numeral.</p>
        </div>
        <div class="mb-3">
            <label asp-for="Input"></label>
            <input asp-for="Input" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Convert</button>
        <a asp-controller="Home" asp-action="History" class="btn btn-secondary" style="width: 150px">
            See history
        </a>
    </div>
</form>